<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"> 检索结果:</h3>
        </div>
        <!-- /.box    der -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <tbody>
            <tr>
              <td width="20px">
                <input type="checkbox" >
              </td>
              <td width="30px">
                1.
              </td>
              <td class="coverTD" >
                <a href="#">
                  <img class="bookcover_img" src="images\searchbookimg.jpg"  >
                </a>
              </td>
              <td  class="bookmetaTD" width="64%">
                <div  class="bookmeta"  bookrecno="8888888">
                  <div>
                                  <span class="bookmetaTitle">
                                    <a href="#" id="title_888888">
                                      Angular权威教程
                                    </a>
                                  </span>
                  </div>
                  <div>著者:
                    <a href="#" target="_blank">
                      (美) Ari Lerner ... [等] 著
                    </a>
                  </div>
                  <div>
                    出版社:
                    <a href="#" target="_blank">
                      人民邮电出版社
                    </a>
                    &nbsp;
                    出版日期: 2017
                  </div>
                  <div>
                    索书号:
                    <span class="callnosSpan">TP312/L7-1</span>
                  </div>
                  <div style="float:right" >
                    <a href="/bookdetail" routerLinkActive="active">进入详情页面</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <td width="20px">
                <input type="checkbox" >
              </td>
              <td width="30px">
                1.
              </td>
              <td class="coverTD" >
                <a href="#">
                  <img class="bookcover_img" src="images\searchbookimg.jpg"  >
                </a>
              </td>
              <td  class="bookmetaTD" width="64%">
                <div  class="bookmeta"  bookrecno="8888888">
                  <div>
                                  <span class="bookmetaTitle">
                                    <a href="#" id="title_888888">
                                      Angular权威教程
                                    </a>
                                  </span>
                  </div>
                  <div>著者:
                    <a href="#" target="_blank">
                      (美) Ari Lerner ... [等] 著
                    </a>
                  </div>
                  <div>
                    出版社:
                    <a href="#" target="_blank">
                      人民邮电出版社
                    </a>
                    &nbsp;
                    出版日期: 2017
                  </div>
                  <div>
                    索书号:
                    <span class="callnosSpan">TP312/L7-1</span>
                  </div>
                  <div style="float:right" >
                    <a href="#">进入详情页面</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <td width="20px">
                <input type="checkbox" >
              </td>
              <td width="30px">
                1.
              </td>
              <td class="coverTD" >
                <a href="#">
                  <img class="bookcover_img" src="images\searchbookimg.jpg"  >
                </a>
              </td>
              <td  class="bookmetaTD" width="64%">
                <div  class="bookmeta"  bookrecno="8888888">
                  <div>
                                  <span class="bookmetaTitle">
                                    <a href="#" id="title_888888">
                                      Angular权威教程
                                    </a>
                                  </span>
                  </div>
                  <div>著者:
                    <a href="#" target="_blank">
                      (美) Ari Lerner ... [等] 著
                    </a>
                  </div>
                  <div>
                    出版社:
                    <a href="#" target="_blank">
                      人民邮电出版社
                    </a>
                    &nbsp;
                    出版日期: 2017
                  </div>
                  <div>
                    索书号:
                    <span class="callnosSpan">TP312/L7-1</span>
                  </div>
                  <div style="float:right" >
                    <a href="#">进入详情页面</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>

    </div>

  </div>
  <!-- /.row -->
</section>


