<div class="bg">
<h1>图书馆管理系统</h1>
<div class="login-form">
  <div class="head-info">
    <label class="lbl-1"> </label>
    <label class="lbl-2"> </label>
    <label class="lbl-3"> </label>
  </div>
  <div class="clear"> </div>
  <div class="avtar">
    <img src="../../../images/avtar.png" />
  </div>
  <form>
    <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
  </form>
  <div>
    <select name="select" id="select_k1" class="select">
      <option value="选择品牌">普通用户</option>
      <option value="选择品牌1">管理员</option>
      <option value="选择品牌2">超级管理员</option>
    </select>
  </div>
  <div class="signin">
    <input type="submit" value="登陆" onclick="javascript:location.href='/layout'">
  </div>
</div>
<div class="copy-rights">
  <p>开发时间 &copy; 2017/11/15-2017/12/？ 开发人员：郑伟、宋晓康、李耀、申继宁 <a href="https://github.com/Livalon/LibraryManagement">图书馆管理系统</a> 版权所有 </p>
</div>
</div>
