<ul class="sidebar-menu" data-widget="tree">
  <li class="header">主 要 内 容</li>
  <!--<li><a href="/bookimport"><i class="glyphicon glyphicon-search"></i> <span>查找图书</span></a></li>-->
  <li><a routerLink="userinf" routerLinkActive="active"><i class="glyphicon glyphicon-user"></i> <span>个人资料</span></a></li>
  <li><a routerLink="borrowinquire" routerLinkActive="active"><i class="glyphicon glyphicon-th-list"></i> <span>借阅查询</span></a></li>
  <li><a routerLink="paymentrecord" routerLinkActive="active"><i class="glyphicon glyphicon-usd"></i> <span>缴费记录</span></a></li>
  <li><a routerLink="appointment" routerLinkActive="active"><i class="glyphicon glyphicon-ok-sign"></i> <span>预约情况</span></a></li>
  <li><a routerLink="needbuy" routerLinkActive="active"><i class="glyphicon glyphicon-heart"></i> <span>读者荐购</span></a></li>
</ul>
